*{
    font-family: 'Calibri';
}

body{
    background-color: #343434;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 20px;
    padding-bottom: 8px;
    background-color: transparent;
    border-bottom: 2px solid #AFB7BE;
}

textarea{
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
    border-bottom: 2px solid #AFB7BE;
}

::placeholder{
    color: #AFB7BE;
    font-size: 16px;
}

button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px 5px;
    text-transform: uppercase;
    font-size: 16px;
}

#submit{
    background-color: #007FFF;
    color: white;
}
