* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f4f7;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 106px;
    width: 320px;
    position: relative;
    right: 80px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #0000001a;
    padding: 18px 18px;
    border-radius: 6px;
    width: 400px;
    height: 300px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: none;
    width: 100%;
    border-bottom: 1px solid #DADDE1;
    margin: 20px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    position: relative;
    bottom: 40px;
    margin-right: 60px;
}

#logo-text {
    font-weight: normal;
    margin: 0px;
}

input {
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding: 14px 16px;
    box-sizing: border-box;
    font-size: 17px;
    color: #1d2129;
    width: 100%;
}

input:focus {
    outline: 1px solid #0866ff;
    box-shadow: 0px 0px 2px 2px #e7f3ff;
    caret-color: #0866ff;
}

input:focus::placeholder{
    color: #7d7e8083;
}

#login{
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 0.1s ease-in 0s;
}

#login:hover{
    background-color: #1877f2;
}

#forgot > a{
    text-decoration: none;
    color: #0866ff;
    font-size: 14px;
    margin: 10px;
    display: block;
}

#forgot > a:hover{
    text-decoration-color: #0866ff;
    text-decoration-line: underline;
}

#signupBtn{
    height: 50px;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    width: 50%;
    color: white;
    font-size: 17px;
    font-weight: bold;
    transition: 0.2s ease-in 0s;
}

#signupBtn:hover{
    background-color: #36a420;
}

#page{
    margin-top: 20px;
    font-size: 14px;
}

#create > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#create > a:hover{
    text-decoration: underline;
}