body{
    background-color: #FCF2E4;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.cards{
    display: inline-block;
    background-color: white;
    padding: 30px;
    height: 340px;
    width: 220px;
    border-radius: 25px;
    box-shadow: 0 0 20px grey;
    text-align: left;
}

label{
    font-size: larger;
    padding-top: 12px;
}

#registration > b{
    display: block;
    text-align: center;
}

h1{
    font-size: 38px;
    text-align: center;
}

input[type="text"], input[type="email"]{
    height: 40px;
    border-radius: 7px;
    border: 1px solid grey;
    width: 210px;
}

b{
    margin-bottom: 20px;
    font-size: x-large;
}

#contactUs{
    margin-left: 20px;
    text-align: center;
}

p{
    font-size: x-large;
    padding-top: 10px;
}

input{
    display: block;
}

input[type="submit"]{
    width: 210px;
    height: 40px;
    color: white;
    font-size: x-large;
    border: none;
    margin-left: 5px;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
    background-color: #1E63C3;
}