*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #2691D9;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 33%;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#login{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login > form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

hr{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h1{
    font-size: 25px;
    margin-bottom: 0px;
}

input{
    border: none;
    border-bottom: 2px solid #2691D9;
    outline: none;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

#email{
    margin-bottom: 30px;
}

#forgot > a{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
}

#forgot{
    margin: 20px 5px;
}

::placeholder{
    font-size: 14px;
}

#submit{
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: #2691D9;
    font-weight: bold;
    border: none;
    height: 40px;
}

#signup{
    font-size: 14px;
    margin: 20px auto;
}

#signup > a{
    text-decoration: none;
    color: #2691D9;
    font-weight: bold;
}
