body{
    background-color: #800080;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
}

#imageContainer{
    width: 100px;
    margin: auto;
}

img{
    width: 100%;
    border-radius: 50%;
}

table{
    border: 1px solid white;
    padding: 50px;
    margin: auto;
}

h1{
    font-size: 40px;
}

p{
    margin-bottom: 50px;
}

td{
    padding-right: 25px;
}

td[rowspan="2"]{
    font-size: xx-large;
    font-weight: bold;
}