@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #09AEE4;
    background: linear-gradient(bottom, #005bea, #00c6fb);
}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 10px 0px;
}

h1 {
    font-size: 24px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 10%;
    border-radius: 50%;
}

input {
    width: 300px;
    padding: 15px 50px;
    margin: 2px;
    border-radius: 30px;
    border: none;
}

#user {
    background-image: url(images/icons/user.png);
    background-position: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
}

::placeholder {
    font-weight: 700;
}

#pass {
    background-image: url(images/icons/lock.png);
    background-position: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
}

#login {
    width: 400px;
    padding: 15px 50px;
    margin: 10px;
    background-color: #333333;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}

#forgot>a {
    text-decoration: none;
    color: white;
}

#forgot {
    margin: 10px;
}