body{
    background-color: #313131;
}

#board{
    width: 45%;
    text-align: center;
    margin: 25px auto;
    padding: 0;
    font-size: 0;
}

img{
    width: 80%;
    padding-top: 8px;
    text-align: center;
}

.peach{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #EBECD0;
}

.green{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #779556;
}